<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Actor</title>
</head>
<body>
    
    <h2>{{ actor.name }}</h2>
<p>Nacimiento: {{ actor.birth_date }}</p>
<p>Nacionalidad: {{ actor.nationality }}</p>
<h3>Películas en las que ha participado</h3>
<ul>
  {% for movie in actor.movies.all %}
    <li>{{ movie.name }}</li>
  {% endfor %}
</ul>

</body>
</html>